{% extends 'base.html.twig' %}

{% block title %}New Pepe{% endblock %}

{% block body %}
    <h1>Create new Pepe</h1>

    {{ include('pepe/_form.html.twig') }}

    <a href="{{ path('app_pepe_index') }}">back to list</a>
{% endblock %}
